.services {
  position: relative;
  overflow-x: clip;
  background-color: var(--color-light);

  &::after {
    content: '';
    position: absolute;
    transform: translateY(-50%);
    right: -100%;
    bottom: 0;
    width: 479px;
    height: 117px;
    transition: right 1s ease, left 1s ease;
    background-image: url('images/wing.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 100%;

    @media screen and (max-width: 767px) {
      transform: rotateX(180deg) rotateY(180deg);
      right: unset;
      bottom: 57px;
      left: -100%;
      width: 80%;
    }
  }

  &__hello {
    display: none;
    visibility: hidden;
  }

  @media screen and (max-width: 1023px) {
    &__hello {
      font-family: var(--font-montserrat);
      font-size: 26px;
      color: var(--color-purple);
      position: absolute;
      transform: translateX(-50%);
      z-index: 100;
      top: 300px;
      left: 50%;
      display: flex;
      visibility: visible;
      align-items: center;
      justify-content: center;
      width: 40%;
      border-radius: 50%;
      box-shadow: 0 0 20px 14px rgb(68 38 255 / 21%);
      background-color: rgba(255, 255, 255, 0.9);
      aspect-ratio: 2 / 1;
    }
  }

  @media screen and (max-width: 767px) {
    &__hello {
      font-size: 20px;
      top: 250px;
      width: 70%;
    }
  }

  &__text {
    font-family: var(--font-montserrat);
    font-size: 18px;
    line-height: 22px;
    color: var(--color-dark);
    position: absolute;
    transform: translateY(-50%);
    z-index: 100;
    top: 0;
    right: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 575px;
    padding-top: 55px;
    border-radius: 50%;
    box-shadow: inset 0 0 43px 10px rgb(187 187 187 / 58%), 0 0 50px 40px rgb(68 38 255 / 46%);
    background-color: var(--color-light);
    aspect-ratio: 115 / 94;

    &--title {
      font-family: var(--font-elevon);
      font-size: 36px;
      align-self: center;
    }

    &--hello {
      align-self: center;
      margin-top: 25px;
    }

    p {
      align-self: center;
      width: 70%;
      margin-top: 25px;
    }

    @media screen and (max-width: 1365px) {
      transform: translateY(-20%);
      right: 70px;
      justify-content: start;
      width: 520px;
      padding-top: 25px;
      aspect-ratio: 10 / 9;

      &--title {
        font-size: 30px;
      }
    }

    @media screen and (max-width: 1023px) {
      font-size: 30px;
      line-height: 37px;
      text-align: justify;
      transform: translateX(-50%);
      top: 600px;
      left: 50%;
      width: 100%;
      padding: 0 30px;
      box-shadow: unset;
      background-color: transparent;

      p + p {
        margin-top: 50px;
      }

      &--title {
        display: none;
        visibility: hidden;
      }

      &--hello {
        display: none;
        visibility: hidden;
      }
    }

    @media screen and (max-width: 767px) {
      font-size: 24px;
      line-height: 28px;
      width: 100%;
      padding: 0 60px;

      p {
        width: 100%;
      }
    }

    @media screen and (max-width: 575px) {
      font-size: 18px;
      line-height: 20px;
      padding: 0 50px;

      p + p {
        margin-top: 30px;
      }
    }

    @media screen and (max-width: 480px) {
      font-size: 14px;
      line-height: 17px;
      top: 450px;

      p + p {
        margin-top: 30px;
      }
    }
  }

  &__container {
    position: relative;
    display: grid;
    grid-template-areas: '.               title-services  title-services'
                         'list            list            list'
                         'title-expertise title-expertise .'
                         'expertise       expertise       expertise';
    grid-template-columns: 1fr 1fr 1fr;
    padding: 350px 0 125px;

    @media screen and (max-width: 1365px) {
      padding-top: 450px !important;
    }

    @media screen and (max-width: 1023px) {
      padding-top: 1350px !important;
      padding-bottom: 125px !important;
    }

    @media screen and (max-width: 767px) {
      padding-top: 1250px !important;
    }

    @media screen and (max-width: 575px) {
      padding-top: 1100px !important;
    }

    @media screen and (max-width: 480px) {
      padding-top: 800px !important;
    }

    @media screen and (max-width: 767px) {
      grid-template-areas: 'title-services  title-services  title-services'
                           'list            list            list'
                           'title-expertise title-expertise title-expertise'
                           'expertise       expertise       expertise';
    }

    &::before {
      content: '';
      position: absolute;
      top: -20px;
      width: 33%;
      background-image: url('images/portal.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      opacity: 0;
      aspect-ratio: 403 / 1307;

      @media screen and (max-width: 1023px) {
        transform: translateX(-50%);
        left: 50%;
        width: 100%;
      }

      @media screen and (max-width: 767px) {
        width: 90%;
        background-image: url('images/portal-small.svg');
        aspect-ratio: 614 / 2510;
      }
    }

    &::after {
      content: '';
      position: absolute;
      transform: translateY(-100%);
      top: -30px;
      bottom: calc(100% + 30px);
      width: 33%;
      background-image: url('images/rings.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      aspect-ratio: 403 / 91;


      @media screen and (max-width: 1023px) {
        transform: translateX(-50%) translateY(-100%);
        left: 50%;
        width: 100%;
      }
    }
  }

  &__title {
    &--services, &--expertise {
      font-family: var(--font-montserrat);
      color: var(--color-dark);
      padding-top: 15px;
      padding-bottom: 15px;
      border: 1.5px solid var(--color-blue);
      border-radius: 12px;

      @media screen and (max-width: 767px) {
        font-size: 14px;
      }
    }

    &--services {
      grid-area: title-services;
      width: 100%;

      @media screen and (max-width: 767px) {
        justify-self: end;
        width: max-content;
        padding-right: 110px !important;
        padding-left: 40px !important;
      }
    }

    &--expertise {
      position: relative;
      grid-area: title-expertise;
      width: 100%;
      margin-top: 35px;

      &::before {
        content: '';
        position: absolute;
        right: 60%;
        bottom: 150%;
        width: 983px;
        height: 35px;
        background-image: url('images/vec-blue.png');

        @media screen and (max-width: 1023px) {
          display: none;
          visibility: hidden;
        }
      }

      @media screen and (max-width: 767px) {
        justify-self: start;
        width: max-content;
        padding-right: 40px !important;
        padding-left: 50px !important;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-areas: 'executive       intelligence    .'
                         '.               mapping         excellence';
    grid-template-rows: repeat(2, var(--item-height));
    grid-area: list;
    margin-top: 50px;
    column-gap: 35px;
    row-gap: 145px;
    --item-height: 585px;

    @media screen and (max-width: 1365px) {
      --item-height: 600px
    }

    @media screen and (max-width: 1279px) {
      grid-template-areas: 'executive executive executive executive executive executive executive intelligence intelligence intelligence intelligence intelligence intelligence intelligence . . . . . .'
                         '. . . . . .            mapping mapping mapping mapping mapping mapping   mapping      excellence excellence excellence excellence excellence excellence   excellence';
      --item-height: 480px
    }

    @media screen and (max-width: 1023px) {
      display: flex;
      flex-direction: column;
      gap: 70px;
    }

    @media screen and (max-width: 767px) {
      gap: 20px;
    }
  }

  &__service {
    position: relative;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1023px) {
      margin: 0 48px;
      padding: 40px 70px 80px;
      border-radius: 43px;
      box-shadow: var(--box-shadow-blacked);
    }

    @media screen and (max-width: 767px) {
      font-size: 14px;
      margin: 0 20px;
      padding: 20px 20px 50px;
      border-radius: 35px;
    }

    .service {
      &__title {
        font-family: var(--font-inter);
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        text-align: center;

        @media screen and (max-width: 1279px) {
          font-size: 20px;
          line-height: 24px;
        }

        @media screen and (max-width: 1023px) {
          font-size: 24px;
          line-height: 29px;
        }

        @media screen and (max-width: 767px) {
          font-size: 16px;
          line-height: 19px;
        }
      }

      &__paragraph {
        font-family: var(--font-montserrat);
        font-size: 19px;
        font-weight: 400;
        line-height: 23px;
        text-align: justify;
        height: 100%;
        margin-top: 40px;
        padding: 25px;
        border-radius: 43px;

        @media screen and (max-width: 1365px) {
          font-size: 18px;
          line-height: 22px;
        }

        @media screen and (max-width: 1279px) {
          font-size: 16px;
          line-height: 19.5px;
          margin-top: 25px;
          padding: 30px 17px;
        }

        @media screen and (max-width: 1023px) {
          font-size: 18px;
          line-height: 22px;
        }

        @media screen and (max-width: 767px) {
          font-size: 14px;
          line-height: 17px;
          margin-top: 0;
        }

        &--primary {
          background: var(--color-light);

          @media screen and (max-width: 1023px) {
            box-shadow: unset;
            background: unset;
          }
        }

        &--secondary {
          border: 1px solid var(--color-blue-transparent-60);
          background: var(--color-blue-transparent-20);

          @media screen and (max-width: 1023px) {
            border: none;
            background: transparent;
          }
        }
      }

      &__arrow {
        @media screen and (max-width: 1023px) {
          position: absolute;
          right: 50px;
          bottom: 15px;
          display: flex;
          flex-direction: column;
          width: 30px;
          height: 30px;
          padding: 30px;
          cursor: pointer;
          gap: 10px;


          &--top, &--bottom {
            &::after, &::before {
              content: '';
              position: absolute;
              width: 25px;
              height: 1px;
              transition: transfrom 0.2s;
              background-color: var(--color-dark);
            }

            &::after {
              transform: rotate(50deg) translateX(12px);
            }

            &::before {
              transform: rotate(-50deg) translateX(-12px);
            }
          }
        }

        @media screen and (max-width: 767px) {
          right: 25px;
          bottom: 0;
          gap: 6px;

          &--top, &--bottom {
            &::after, &::before {
              width: 15px;
              height: 1px;
            }

            &::after {
              transform: rotate(50deg) translateX(7px);
            }

            &::before {
              transform: rotate(-50deg) translateX(-7px);
            }
          }
        }
      }
    }

    &--executive {
      position: relative;
      grid-area: executive;
    }

    &--intelligence {
      position: relative;
      grid-area: intelligence;

      &::after {
        content: '';
        position: absolute;
        top: 110px;
        left: calc(100% + 210px);
        width: 1000px;
        height: 18px;
        background-image: url('images/vec.png');

        @media screen and (max-width: 1279px) {
          display: none;
          visibility: hidden;
        }
      }

      p {
        animation: pulse 3s infinite;

        @media screen and (max-width: 1023px) {
          animation: unset;
        }
      }
    }

    &--mapping {
      position: relative;
      grid-area: mapping;

      &::after {
        content: '';
        position: absolute;
        top: -85px;
        right: 0;
        width: 1000px;
        height: 39px;
        background-image: url('images/vec2.png');

        @media screen and (max-width: 1023px) {
          display: none;
          visibility: hidden;
        }
      }

      p {
        animation: pulse 3s 1s infinite;

        @media screen and (max-width: 1023px) {
          animation: unset;
        }
      }

      &::before {
        content: '';
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 125%;
        width: 265px;
        height: 405px;
        background-image: url('images/tubes.png');

        @media screen and (max-width: 1279px) {
          display: none;
          visibility: hidden;
        }
      }
    }

    &--excellence {
      position: relative;
      grid-area: excellence;

      &::after {
        content: '';
        position: absolute;
        right: -8%;
        bottom: 80%;
        width: 54px;
        height: 409px;
        background-image: url('images/vec3.png');

        @media screen and (max-width: 1279px) {
          display: none;
          visibility: hidden;
        }
      }
    }
  }

  &__expertise {
    font-family: var(--font-montserrat);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    grid-area: expertise;
    margin-top: 65px;

    @media screen and (max-width: 767px) {
      font-size: 16px;
      line-height: 19.5px;
    }

    .expertise__list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 20px;
    }

    &--highlighted {
      color: var(--color-red);
      width: max-content;
    }
  }
}

@media screen and (max-width: 1023px) {
  .service--closed {
    .service__paragraph {
      display: none;
    }

    .service__arrow {

      &--top, &--bottom {
        &::after {
          transform: rotate(-50deg) translateX(12px);
        }

        &::before {
          transform: rotate(50deg) translateX(-12px);
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .service--closed {
    .service__paragraph {
      display: none;
    }

    .service__arrow {
      bottom: -15px;

      &--top, &--bottom {
        &::after {
          transform: rotate(-50deg) translateX(7px);
        }

        &::before {
          transform: rotate(50deg) translateX(-7px);
        }
      }
    }
  }
}

.services--animated {
  .services__container {
    &::before {
      animation: fadeInTop 1s ease-out;
      animation-fill-mode: forwards;

      @media screen and (max-width: 1023px) {
        animation: fadeInTopWithLeftTransform 1s ease-out;
        animation-fill-mode: forwards;
      }
    }
  }
}

.services--arrow {
  &::after {
    right: 0;

    @media screen and (max-width: 1365px) {
      right: -20%;
    }

    @media screen and (max-width: 1279px) {
      right: -33%;
    }

    @media screen and (max-width: 767px) {
      left: 0;
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--color-tree);
  }
  70% {
    box-shadow: 0 0 30px 10px var(--color-tree);
  }
  100% {
    box-shadow: 0 0 0 0 var(--color-tree);
  }
}