.footer {
  position: relative;
  background-color: var(--color-dark);

  @media screen and (max-width: 1023px) {
    background-color: var(--color-light);
  }

  &::before {
    content: '';
    position: absolute;
  }

  .container {
    position: relative;
    padding: 120px 0 500px !important;

    @media screen and (max-width: 1023px) {
      padding: 800px 0 300px !important;
    }

    @media screen and (max-width: 767px) {
      padding: 700px 0 100px !important;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 235px;
      left: 0;
      width: 364px;
      background-image: url('images/rings.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      aspect-ratio: 364 / 98;

      @media screen and (max-width: 1279px) {
        width: 320px;
      }

      @media screen and (max-width: 1023px) {
        transform: translateX(-50%);
        bottom: calc(100% - 700px);
        left: 50%;
        width: 100%;
      }

      @media screen and (max-width: 767px) {
        width: 85%;
      }

      @media screen and (max-width: 480px) {
        bottom: calc(100% - 450px);
      }
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 360px;
      left: 0;
      width: 360px;
      background-image: url('images/portal.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      aspect-ratio: 360 / 997;

      @media screen and (max-width: 1279px) {
        width: 320px;
      }

      @media screen and (max-width: 1023px) {
        transform: translateX(-50%);
        bottom: calc(100% - 500px);
        left: 50%;
        width: 100%;
        opacity: 0;
      }

      @media screen and (max-width: 767px) {
        width: 85%;
      }

      @media screen and (max-width: 480px) {
        bottom: calc(100% - 350px);
      }
    }
  }

  &__container {
    position: relative;
    display: grid;
    grid-template-areas: 'title title'
                         'email socials'
                         'phones .';
    grid-template-columns: 1fr 1fr;
    width: 60%;
    margin-left: auto;
    gap: 40px;

    &::after {
      content: '';
      position: absolute;
      bottom: -260px;
      left: 0;
      width: 199px;
      height: 108px;
      background-image: url('images/logo.png');
      background-repeat: no-repeat;

      @media screen and (max-width: 1279px) {
        bottom: -200px;
      }

      @media screen and (max-width: 1023px) {
        content: unset;
      }
    }

    @media screen and (max-width: 1023px) {
      width: 100%;
    }

    @media screen and (max-width: 767px) {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 200px;
    }

    @media screen and (max-width: 480px) {
      padding-top: 0px;
    }
  }

  &__title {
    font-family: var(--font-elevon);
    color: var(--color-light);
    justify-self: center;
    grid-area: title;
    margin-bottom: 40px;

    @media screen and (max-width: 1023px) {
      color: var(--color-dark);
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 767px) {
      align-items: center;
    }

    &--email {
      grid-area: email;

      a {
        text-decoration: underline;
      }
    }

    &--phones {
      grid-area: phones;
    }

    &--socials {
      justify-self: end;
      grid-area: socials;
    }
  }

  .socials {
    &__list {
      display: flex;
      gap: 15px;
    }

    &__item {
      width: 35px;
      height: 35px;
      fill: var(--color-light);

      @media screen and (max-width: 1023px) {
        fill: var(--color-dark);
      }
    }
  }

  &__subtitle, &__link {
    font-family: var(--font-montserrat);
    font-size: 19px;
    color: var(--color-light);

    @media screen and (max-width: 1023px) {
      color: var(--color-dark);
    }

    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
  }

  &__subtitle {
    font-weight: 600;
  }

  &__link {
    font-weight: 400;
  }
}

.footer--animated {
  .container {
    &::before {
      animation: fadeInBottom 1s ease-out;
      animation-fill-mode: forwards;

      @media screen and (max-width: 1023px) {
        animation: fadeInBottomWithLeftTransform 1s ease-out;
        animation-fill-mode: forwards;
      }
    }
  }
}